.App {
  background-color: #C4C4C4;
  color: #4A90E2;
}

.Loader-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* shop list */

.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop-img {
  width: auto;
  height: 15vw;
}
